---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import PaymentDashboard from "../../components/payment/PaymentDashboard.svelte";
---

<DashboardLayout title="Tableau de bord Paiements">
  <div data-testid="page-payments">
    <PaymentDashboard client:load />
  </div>
</DashboardLayout>
