---
import AppLayout from "../../layouts/AppLayout.astro";
import KycWizard from "../../components/customer/KycWizard.svelte";
---

<AppLayout title="Enregistrement client (KYC)">
  <div class="mx-auto max-w-3xl">
    <KycWizard client:load />
  </div>
</AppLayout>
