---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import KycWizard from "../../components/customer/KycWizard.svelte";
---

<DashboardLayout title="Enregistrement client (KYC)">
  <div class="mx-auto max-w-3xl">
    <KycWizard client:load />
  </div>
</DashboardLayout>
