---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import RiskDashboard from "../../components/dashboard/RiskDashboard.svelte";
---

<DashboardLayout title="Tableau de bord prudentiel">
  <div data-testid="page-dashboards-risk">
    <RiskDashboard client:load />
  </div>
</DashboardLayout>
