---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import AccountListPage from "../../components/account/AccountListPage.svelte";
---

<DashboardLayout title="Mes comptes">
  <div data-testid="page-accounts">
    <AccountListPage client:load />
  </div>
</DashboardLayout>
